body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vw;
}

button {
    background-color: white;
    width: 210px;
    height: 70px;
    border-radius: 20px;
    font-size: 2vh;
    border: 0px;
}

button:hover {
    background-color: black;
    color: white;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
